*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.shimmerCardAll{
    width: 218px;
    height: 216px;
    background-color: #ccc;
}
.shimmerCountryDetail{
    background-color: #ccc !important;
    height: 180px;
}
.max-width{
    max-width: 1200px;
    margin-inline: auto;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
    margin-inline: auto;
    margin-bottom: 40px;

}

.theme-changer{
    display: flex;
    align-items: center;
    gap: 8px;
}
.search{
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 300px;
    height: 40px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    padding-inline: 20px;
}
.search input{
    border: none;
    width: 100%;
    outline: none;
}
.search-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.filter{
    display: flex;
    align-items: center;
    width: 250px;
    height: 40px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    padding-inline: 16px;
}
.filterByRegion{
    border: none;
    outline: none;
    width: 100%;
}
.flags{
    width: 150px;
    height: 100px;
}
.allCountries{
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: space-around;
}
.countryCard{
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    transition: all 0.3s ease-out;
    text-decoration: none;
    color: black;
}
.countryCard:hover{
    transform: scale(1.15);
    cursor: pointer;
}
.countryDetail{
    background-color: antiquewhite;
    max-width: 550px;
    box-shadow:0 0 8px 0px rgba(0, 0, 0, 0.15) ;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;

    padding: 20px;
    margin: auto;
}
.countryDetail p{
    font-weight: bold;
}
.countryDetail span{
    font-weight: 500;
}
.countryDetail img{
    background-color: antiquewhite;
    border:none;
  
    height: 150px;
    width: 150px;   
}

.backBtn{
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    margin-left: 20px;
}
.borderCountry{
    box-shadow:0 0 8px 0px rgba(0, 0, 0, 0.589); 
    font-weight: 500;
}
.borderCountries{
    display: flex;
    gap: 8px;
    flex-direction: row;
    flex-wrap: wrap;

}